* {
  box-sizing: border-box;
} 

body {
  font-family: Arial;
  padding: 10px;
  background: rgb(193, 201, 193);
}

/* Header/Blog Title */
.header {
  padding: 30px;
  text-align: center;
  background:black;
  color: bisque;
}

.header h1 {
  font-size: 50px;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: grey;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: rgba(56, 221, 15, 0.452);
  color: black;
}
/*EXIT*/
.esc a:hover {
  background-color: red;
  color: rgb(0, 0, 0);
}

/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  background-color: rgb(193, 201, 193);
  padding-left: 20px;
}

/* Photo image */
.photo {
  background-color: #232;
  width: 100%;
  padding: 5px;
}
img{
  width: 100%;
  height: auto;
}

/* Add a card effect for articles */
.card {
  background-color: black;
  padding: 20px;
  margin-top: 20px;
  color: bisque;
}
.card a{
  text-decoration: none;
  color: blue;
  font-size: 20px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Finished */
.finished {
  padding: 20px;
  text-align: center;
  background: grey;
  margin-top: 30px;
}
.finished a{
  color:blue;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}
